<div class="buttons-container">
    <button class="button" (click)="switchTo('header')"><i class="material-icons icons">skip_previous</i>ELD Record Header</button>
    <button class="button" (click)="switchTo('rods')"><i class="material-icons icons">skip_previous</i>RODS</button>
    <button class="button button-c"><i class="material-icons icons" style="color: darkmagenta;">stop</i>ELD Record Supplement</button>
</div>

<ng-container *ngIf="eldEventSeqMap">
    <ng-container *ngFor="let deviceId of eldEventSeqMap.keys()">

        <div class="table-container table-responsive">
            <table class="table table-condensed table-hover" style="width: 92%;">
                <caption>Device {{deviceId}} | {{eldRecordDate}} | Driver's Record Certification Events</caption>
                <thead>
                    <tr>
                        <td>Time</td>
                        <td>Event|Code</td>
                        <td>Status</td>
                        <td>Origin</td>
                        <td>Location</td>
                        <td>Odometer</td>
                        <td>Engine Hrs</td>
                        <td>Comment</td>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let eldEvent of eldEventSeqMap.get(deviceId)">   
                    	<tr *ngIf="eldEvent.type == 4">
                        	<td>{{eldEvent.timeStr}}</td>
                        	<td>{{eldEvent.type}}|{{eldEvent.code}}</td>
                        	<td>{{eldEvent.status}}</td>
                        	<td>{{eldEvent.origin}}</td>
                        	<td>{{eldEvent.location}}</td>
                        	<td>{{eldEvent.vehicleMiles}}</td>
                        	<td>{{eldEvent.engineHours}}</td>
                        	<td>{{eldEvent.comment}}</td>
                    	</tr>
                    </ng-container>
                </tbody>
            </table>
        </div>

        <div class="table-container table-responsive">
            <table class="table table-condensed table-hover" style="width: 92%;">
                <caption>Device {{deviceId}} | {{eldRecordDate}} | Driver's Login/Logout Events</caption>
                <thead>
                    <tr>
                        <td>Time</td>
                        <td>Event|Code</td>
                        <td>Status</td>
                        <td>Origin</td>
                        <td>Location</td>
                        <td>Odometer</td>
                        <td>Engine Hrs</td>
                        <td>Comment</td>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let eldEvent of eldEventSeqMap.get(deviceId)">   
                        <tr *ngIf="eldEvent.type == 5">
                            <td>{{eldEvent.timeStr}}</td>
                            <td>{{eldEvent.type}}|{{eldEvent.code}}</td>
                            <td>{{eldEvent.status}}</td>
                            <td>{{eldEvent.origin}}</td>
                            <td>{{eldEvent.location}}</td>
                            <td>{{eldEvent.vehicleMiles}}</td>
                            <td>{{eldEvent.engineHours}}</td>
                            <td>{{eldEvent.comment}}</td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>

        <div class="table-container table-responsive">
            <table class="table table-condensed table-hover" style="width: 92%;">
                <caption>Device {{deviceId}} | {{eldRecordDate}} | Engine Power-Up/Shutdown Events</caption>
                <thead>
                    <tr>
                        <td>Time</td>
                        <td>Event|Code</td>
                        <td>Status</td>
                        <td>Origin</td>
                        <td>Location</td>
                        <td>Odometer</td>
                        <td>Engine Hrs</td>
                        <td>Comment</td>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let eldEvent of eldEventSeqMap.get(deviceId)">   
                        <tr *ngIf="eldEvent.type == 6">
                            <td>{{eldEvent.timeStr}}</td>
                            <td>{{eldEvent.type}}|{{eldEvent.code}}</td>
                            <td>{{eldEvent.status}}</td>
                            <td>{{eldEvent.origin}}</td>
                            <td>{{eldEvent.location}}</td>
                            <td>{{eldEvent.vehicleMiles}}</td>
                            <td>{{eldEvent.engineHours}}</td>
                            <td>{{eldEvent.comment}}</td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
        
        <div class="table-container table-responsive">
            <table class="table table-condensed table-hover" style="width: 92%;">
                <caption>Device {{deviceId}} | {{eldRecordDate}} | Device Malfunction & Diagnostics Events</caption>
                <thead>
                    <tr>
                        <td>Time</td>
                        <td>Event|Code</td>
                        <td>Status</td>
                        <td>Origin</td>
                        <td>Location</td>
                        <td>Odometer</td>
                        <td>Engine Hrs</td>
                        <td>Comment</td>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let eldEvent of eldEventSeqMap.get(deviceId)">   
                        <tr *ngIf="eldEvent.type == 7">
                            <td>{{eldEvent.timeStr}}</td>
                            <td>{{eldEvent.type}}|{{eldEvent.code}}</td>
                            <td>{{eldEvent.status}}</td>
                            <td>{{eldEvent.origin}}</td>
                            <td>{{eldEvent.location}}</td>
                            <td>{{eldEvent.vehicleMiles}}</td>
                            <td>{{eldEvent.engineHours}}</td>
                            <td>{{eldEvent.comment}}</td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
        
        <div class="table-container table-responsive">
            <table class="table table-condensed table-hover" style="width: 92%;">
                <caption>Device {{deviceId}} | {{eldRecordDate}} | Unspecified Driver Profile Events</caption>
                <thead>
                    <tr>
                        <td>Time</td>
                        <td>Event|Code</td>
                        <td>Status</td>
                        <td>Origin</td>
                        <td>Location</td>
                        <td>Odometer</td>
                        <td>Engine Hrs</td>
                        <td>Comment</td>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let eldEvent of eldEventSeqMap.get(deviceId)">   
                        
                    </ng-container>
                </tbody>
            </table>   
        </div>
        
    </ng-container>
</ng-container>
