<div class="grid-container">
    
    <div class="grid-item-11">
        <span class="header">Manage Devices</span>
    </div>

    <div class="grid-item-12">
        <span class="header">To view, edit, or delete a particular device</span>
    </div>

    <div class="grid-item-21 image"> 
        <img src="../../../assets/img/Vedas_logo_triple1.png" width="160" height="120">
        <span class="button button-100 button-palevioletred button-taller" (click)="openDeviceAddModal(cid)">Add Device</span>
    </div>   

    <div class="grid-item-22 table-responsive"> 
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <td>Device Id</td>
                    <td>Installed on Vehicle:</td>
                    <td>Operated by Driver:</td>
                    <td>Actions</td>
                </tr>
            </thead>
            <tbody *ngIf="deviceMap">
                <tr *ngFor="let deviceId of deviceMap.keys()">
                    <td style="background-color: lightgray;">{{deviceId}}</td>
                    <td>
                        <ng-container *ngIf="deviceMap.get(deviceId).vehicleId && vehicleMap">
                            {{deviceMap.get(deviceId).vehicleId.slice(5)}}|{{vehicleMap.get(deviceMap.get(deviceId).vehicleId).make}} {{vehicleMap.get(deviceMap.get(deviceId).vehicleId).model}} ({{vehicleMap.get(deviceMap.get(deviceId).vehicleId).year}})
                        </ng-container>
                        <ng-container *ngIf="!deviceMap.get(deviceId).vehicleId">
                            Not installed
                        </ng-container>
                    </td>
                    <td>
                        <ng-container *ngIf="deviceMap.get(deviceId).driverId && driverMap">
                            {{deviceMap.get(deviceId).driverId}}|{{driverMap.get(deviceMap.get(deviceId).driverId).firstName}} {{driverMap.get(deviceMap.get(deviceId).driverId).lastName}}
                        </ng-container>
                        <ng-container *ngIf="!deviceMap.get(deviceId).driverId">
                            Not assigned
                        </ng-container>
                    </td>
                    <td>
                        <span class="button button-60 button-cadetblue" (click)="openDeviceDetailModal(deviceId)">Detail</span>
                        <span class="button button-60 button-cornflowerblue" (click)="openDeviceEditModal(deviceId)">Edit</span>
                        <span class="button button-60 button-cornflowerblue" (click)="openDeviceDeleteModal(deviceId)">Delete</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>


