<div class="grid-container">

	<div class="grid-item-1">
		<div class="header header-gray">
			Select Asset To Track
		</div>
		<div class="box box-azure" style="text-align: center;">
			<ng-container *ngIf="assets">
				<select [formControl]="assetIdFormControl">
					<option value="" selected disabled>Choose one</option>
		            <option *ngFor="let a of assets" value={{a.id}}>{{a.id}}|{{a.type}} {{a.shipper}}</option>
		        </select>
		        <button class="submit" (click)="getInfo()">Apply</button>
		    </ng-container>
		</div>
		<div class="header header-gray">
			Select Desired Path Duration
		</div>
		<div class="box box-azure" style="text-align: center;">
			<select [formControl]="pathDurationFormControl">
	            <option *ngFor="let hr of hourList" value={{hr}}>{{hr}} hr</option>
	        </select>
	        <button class="submit" (click)="getPath()">Apply</button>
		</div>
		<div class="header header-bluegreen">
			Freight, Vehicle & Driver Information
		</div>
		<div class="box box-azure">
			Freight Id|Desc: {{assetId}}|{{assetDesc}}<br>
			Vehicle Id|Desc: {{vehicleId}}|{{vehicleDesc}}<br>
			Driver Id|Name: {{driverId}}|{{driverName}}<br>
		</div>
		<div class="header header-magenta">
			Real-Time Telematics
		</div>
		<div class="box box-lavender">
			Speed: {{speed}}<br>
			Location: {{location}}
		</div>
	</div>

	
	<div *ngIf="deviceId" class="grid-item-2">
		<app-map [deviceId]="deviceId" [cid]="cid" [pathDuration]="pathDuration"></app-map>
	</div>

</div>


