<div class="modal-content">

    <div class="modal-header" style="background-color: azure;">
        <span class="modal-title">Add New VeDAS User</span>
    </div>

    <div class="modal-body container" style="font-size: 9px;">
        <form [formGroup]="vedasUserAddForm" (ngSubmit)="addVedasUser()">
            <div class="form-group">
                <label class="col-sm-4">Username</label>
                <input type="text" class="col-sm-7" placeholder="Username" formControlName="username" required>
            </div>
            <div class="form-group">
                <label class="col-sm-4">Initial Password</label>
                <input type="password" class="col-sm-7" placeholder="Password" formControlName="password" required>
            </div>
            <div *ngIf="urole == 'sysop'" class="form-group">
                <label class="col-sm-4">Role</label>
                <label class="radio-inline col-sm-2"><input type="radio" name="role" value="super" formControlName="role">&nbsp;&nbsp;super</label>
                <label class="radio-inline col-sm-2"><input type="radio" name="role" value="admin" formControlName="role">&nbsp;&nbsp;admin</label>
                <label class="radio-inline col-sm-2"><input type="radio" name="role" value="driver" formControlName="role" checked>&nbsp;&nbsp;driver</label>
            </div>
            <div *ngIf="urole == 'super'" class="form-group">
                <label class="col-sm-4">Role</label>
                <label class="radio-inline col-sm-2"><input type="radio" name="role" value="admin" formControlName="role">&nbsp;&nbsp;admin</label>
                <label class="radio-inline col-sm-2"><input type="radio" name="role" value="driver" formControlName="role" checked>&nbsp;&nbsp;driver</label>
            </div>
            <div *ngIf="urole == 'admin'" class="form-group">
                <label class="col-sm-4">Role</label>
                <label class="radio-inline col-sm-2"><input type="radio" name="role" value="driver" formControlName="role" checked>&nbsp;&nbsp;driver</label>
            </div>
            <div class="form-group">
                <label class="col-sm-4">Name</label>
                <input type="text" class="col-sm-3" placeholder="First Name" formControlName="firstName" required>
                <label class="col-sm-1"></label>
                <input type="text" class="col-sm-3" placeholder="Last Name" formControlName="lastName" required>
            </div>
            <div class="form-group">
                <label class="col-sm-4" style="color: darkgray;">Phone (optional)</label>
                <input type="tel" class="col-sm-3" placeholder="Phone" formControlName="phone">
            </div>
            <div class="form-group">
                <label class="col-sm-4"  style="color: darkgray;">Email (optional)</label>
                <input type="email" class="col-sm-3" placeholder="Email" formControlName="email">
            </div>
            <div class="row justify-content-around">
                <button type="submit" class="btn btn-primary btn-sm" [disabled]="!vedasUserAddForm.valid">Submit & Close</button>
                <button type="button" class="btn btn-secondary btn-sm" (click)="activeModal.close()">Cancel</button>
            </div>
        </form>
    </div>

    <div class="modal-footer" style="background-color: lightgray;">
        
    </div>

</div>
